/* Minimalin CSS */
.ltn__header-4 .ltn__header-middle-area, .ltn__header-5 .ltn__header-middle-area {
    padding-top: 15px;
    padding-bottom: 15px;
}
.btn {
    padding: 10px 30px;
}
.product-cart-action button {
    padding: 17px 40px
}
.btn-transparent {
    border-color: var(--ltn__primary-color);
    box-shadow: none;
}
.ltn__banner-style-3 .ltn__banner-info {
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}
.ltn__banner-area .btn-wrapper {
    margin-top: 25px;
}
.ltn__tab-menu-2 a:before {
    opacity: 0;
}
.ltn__tab-menu-2 a {
    padding: 5px 0;
    margin: 0 15px;
    font-family: var(--ltn__heading-font);
}
.ltn__blog-item-3-normal .ltn__blog-item-3 .ltn__blog-img+.ltn__blog-brief {
    padding: 0;
    border: none;
}
.ltn__blog-item-3 .ltn__blog-meta-btn, .ltn__blog-item-4 .ltn__blog-meta-btn {
    border: none;
    padding-top: 0;
}
.ltn__blog-item-3 .ltn__blog-meta, .ltn__blog-item-4 .ltn__blog-meta {
    margin-top: 15px;
}
.ltn__blog-meta li {
    font-weight: 400;
}
.ltn__blog-meta li i {
    color: var(--ltn__primary-color);
}
.ltn__blog-title {
    font-size: 16px;
}
.style-1-service .ltn__feature-item-8 {
    padding: 0;
}
.ltn__feature-item-8 .ltn__feature-icon {
    min-width: 50px;
}
.slideshow__banner--mobile{
  display: none;
}
.header-search-1 .search-icon {
    font-size: 18px;
}
.ltn__drop-menu>ul>li, .header-wishlist a {
    font-size: 19px;
}
.mini-cart-icon i {
    font-size: 19px;
}
.mobile-header-area {
    padding: 20px 0;
}
.mobile-menu-toggle>a {
    margin-left: 0;
}
.quickview-btn-cart .btn {
    padding: 17px 40px;
}
.product-tile--tile-actions a {
    color: var(--white);
}
.product-text ul{
  marign: 0;
  padding: 0;
}
.product-text ul li{
  margin-top: 0;
}
.contact-form-box input::placeholder{
  color: var(--ltn__paragraph-color);
}
.ltn__contact-address-item-3 {
    border: 1px solid var(--border-color-1);
}
.contact-form-box {
    border: 1px solid var(--border-color-1);
}
.ltn__breadcrumb-inner-2 .ltn__breadcrumb-list ul li:after {
    content: "\f054";
    right: -15px;
    top: 5px;
    transform: translateY(-50%);
    height: 0;
    width: 0;
    opacity: 1;
    color: var(--ltn__paragraph-color);
}
.slick-slide-arrow-1 .slick-arrow {
    width: 50px;
    height: 50px;
    line-height: 50px;
}
.cart-table tr, .cart-table table tbody tr td.pro-thumbnail a img, .cart-coupon textarea {
    border: 1px solid var(--border-color-1);
}
.ltn__shop-details-large-img {
    border: 1px solid var(--border-color-1);
}

.swatch .header {
  float: none;
}
.swatch .swatch-element {
  float: none;
  margin-bottom: 0;
  display: inline;
}
.product-variant-option .swatch {
  flex-wrap: nowrap;
}
.swatch .header {
  min-width: 70px;
}
.swatch-element>label {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #f2f6f7;
}
.swatch-content-area {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}
.swatch-element>label {
    text-align: center;
}
.ltn__shop-details-img-gallery .slick-arrow-2 .slick-arrow{
    line-height: 30px;
}
.ltn__shop-details-img-gallery .slick-arrow-2 .slick-arrow:hover {
    color: var(--white)!important;
}
.ltn__breadcrumb-area {
    margin-bottom: 80px;
}


.product-short-description p{
  margin-bottom: 15px;
}
.product-short-description ul li {
    margin: 0;
    padding: 0;
}
.ltn__utilize-buttons .utilize-btn-icon {
    border: 1px solid var(--border-color-1);
}
.ltn__shop-details-large-img {
    overflow: hidden;
}
.customer-page .login.section-bg-1 {
    padding: 30px;
}
.theme-default-button {
    height: auto;
}
.ltn__language-menu .dropdown-toggle:before {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-size: 8px;
    right: 0;
    margin-top: 2px;
}
.ltn__drop-menu>ul>li .disclosure__button:before {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-size: 8px;
    right: 0;
    font-weight: 700;
}
.ltn__header-top-area i {
    font-weight: 400;
}
.ltn__drop-menu.ltn__language-menu>ul>li .disclosure__button {
    font-weight: 400;
}
.footer-top-area {
    padding-top: 80px;
}
.mini-cart-footer .btn-wrapper .btn {
    width: 100%;
}
.mega-menu li ul li {
    padding-left: 0;
}
.ltn__copyright-area {
    padding-top: 20px;
    padding-bottom: 20px;
}
.ltn__main-menu .mega-menu.column-4 {
    width: 100%;
}
.ltn__category-item-name h6 {
    font-weight: 400;
}
.product-media-type.product-single__video video {
    max-height: 100%;
    height: 100%;
}
.ltn__shop-details-large-img {
    border: 0px solid var(--border-color-1);
}
a.modal-nav:before, a.video-nav:before {
    left: 10px;
    top: 10px;
    font-size: 10px;
    line-height: 21px;
    border-radius: 5px;
}
.mini-cart-img {
    border: 0px solid var(--border-color-1);
}
.ltn__tagcloud-widget ul li a {
    text-transform: capitalize;
}
.ltn__banner-style-3.ltn__banner-style-4 .ltn__banner-info {
    right: 30px;
    text-align: right;
}
.ltn__banner-style-3 .ltn__banner-info h2{
  margin-bottom: 0;
}
.footer-widget .footer-title {
    font-size: 20px;
}
.ltn__copyright-menu ul li {
    font-size: 16px;
    font-weight: 400;
}
.about-us-info-wrap h2 span {
  color: var(--ltn__secondary-color);
}
predictive-search[search-open] #predictive-search {
    overflow: hidden;
}
.ltn__drop-menu>ul>li .disclosure__button {
    font-weight: 400;
}
.cart-table table tbody tr td.pro-title span {
    font-weight: 400;
}
h2.section-title-2.border-bottom {
    border-bottom: 1px solid var(--border-color-1);
}
.ltn__small-product-item {
    padding: 20px;
}
.ltn__feature-item-3 {
    border: 1px solid var(--border-color-1);
}
.ltn__copyright-menu ul li {
    font-family: var(--ltn__paragraph-font);
}
.ltn__feature-item-3 .ltn__feature-icon svg {
    width: 50px;
    height: 50px;
    fill: var(--ltn__secondary-color);
}
.ltn__countdown-info .ltn__countdown-1 .single {
    background: var(--white);
}
.select-option-part select {
    border: 1px solid var(--border-color-1);
    color: var(--ltn__paragraph-color);
}
.ltn__header-area.border-bottom {
    border-bottom: 1px solid var(--border-color-1) !important;
}
.theme-default-button {
    color: var(--white);
}
.inc.qtybutton {
    border-left: 1px solid var(--border-color-1);
}
.swatch-element>label {
    background: var(--section-bg-1);
    color: var(--ltn__paragraph-color);
}
button.predictive-search__item {
    color: var(--ltn__heading-color);
}
.product-addtocart-sticky .inc.qtybutton {
    border-left: 1px solid var(--border-color-1);
}
.product-addtocart-sticky img {
    border: 1px solid var(--border-color-1);
}
.ltn__shop-details-large-img .ar-3d-product {
    border: 1px solid var(--border-color-1);
}
.cart-page .theme-default-button {
    line-height: 16px;
}
.empty-cart-page p a {
    text-decoration: underline;
}
.ltn__countdown-3 .single h6 {
  font-size: 24px;
  margin-bottom: 5px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  background-color: var(--white);
  color: var(--ltn__heading-color);
}
.ltn__countdown-3 .single{
  margin-right: 5px;
}
.ltn__countdown .single:last-child {
  margin-right: 0;
}
.ltn__countdown-3 .single p {
  margin-bottom: 0;
}
.ltn__countdown-3 {
    padding: 0;
}
.my-account-page input, .my-account-page textarea, .my-account-page select {
    border: 1px solid var(--border-color-1);
    height: auto;
}
.customer-page .theme-default-button {
    background-color: var(--ltn__secondary-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 17px 40px;
    height: auto;
  color: var(--white);
}
.ltn__call-to-action-4 .call-to-action-inner-4 .h1 {
    font-style: normal;
}
.about-us-info-wrap ul {
    margin-bottom: 25px;
}
.about-us-info-wrap ul li{
    margin-top: 0;
}
.about-us-info-wrap p {
    margin-bottom: 15px;
}
.about-us-info-wrap .btn-wrapper.mt-25 {
    margin-top: 25px;
}
.about-us-info-wrap h2 {
    margin-bottom: 20px;
}
.ltn__img-slide-item-4 a:before {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--ltn__secondary-color);
    content: "";
    z-index: 1;
    opacity: 0;
    transition: all .5s ease 0s;
}
.ltn__img-slide-item-4 a:after {
    position: absolute;
    content: "\e903";
    width: 30px;
    height: 30px;
    font-size: 30px;
    top: 50%;
    left: 50%;
    z-index: 3;
    font-family: icomoon;
    margin-left: -15px;
    margin-top: -15px;
    color: var(--white);
    opacity: 0;
    line-height: 30px;
    transition: all .5s ease 0s;
}
.ltn__img-slide-item-4:hover a:before, .ltn__img-slide-item-4:hover a:after{
  opacity: 1;
}
.cart-table table tbody tr td .product-option {
    font-weight: 400;
}


.product-img a.secondary_img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out;
}
.ltn__product-item-3:hover .product-img a.secondary_img {
    opacity: 1;
    visibility: visible;
}
.collection-filter-drawer-title svg {
  fill: var(--white);
}
.collection-filter-drawer-title:hover svg {
    fill: var(--ltn__heading-color);
}
.ltn__feature-item-6 {
    border: 1px solid var(--border-color-1);
}
.ltn__feature-item-6:before {
    display: none;
}
.product-img-square img {
    object-fit: cover;
    object-position: center center;
}
.product-img-square .image-position-wrapper {
    padding-bottom: 100%;
}
.ltn__feature-item-6 .ltn__feature-info .ltn__service-btn {
    color: var(--ltn__paragraph-color);
}
ul.grid-color-swatch li label.active {
  outline: 1px solid var(--ltn__secondary-color);
  outline-offset: 1px;
}
.ltn__page-details-inner ul li {
    margin-top: 5px;
}






@media (min-width: 992px) and (max-width: 1199px) {
  .ltn__product-details-menu-2 ul li:nth-child(2) {
      margin-right: 0;
  }
  .ltn__product-details-menu-2 ul li:last-child {
      margin-right: 0;
      width: 100%;
  }
}


@media (min-width: 1200px) and (max-width: 1399px) {

}

@media (min-width: 992px){
  .ltn__shop-details-img-gallery {
      top: 30px;
  }
  .ltn__breadcrumb-inner-2 .ltn__section-title-2 .section-title {
    font-size: 36px;
  }
  .section-title {
      font-size: 35px;
  }

  .shop-details-info .ltn__product-details-menu-2 .btn {
    width: 190px;
  }
  .ltn__product-details-menu-2 .shopify-payment-button__button {
      width: 190px;
  }
  .ltn__feature-item-3 h2 {
      font-size: 25px;
      margin-bottom: 12px;
  }
  .collection-template-page {
      margin-bottom: 80px;
  }
}

@media (max-width: 767px){
  .btn {
      padding: 7px 20px;
  }
  .slideshow__banner--desktop{
    display: none;
  }
  .slideshow__banner--mobile{
    display: block;
  }
  .ltn__header-options .header-search-wrap {
      margin-left: 0;
  }
  .header-search-1-form {
      transform: translate(0%);
  }
  .theme-logo img {
      max-width: 100% !important;
  }
  .ltn__header-options>div {
      margin-left: 15px;
      display: flex;
      align-items: center;
  }
  .mini-cart-icon {
      line-height: 1;
  }
  .header-search-1 .search-icon {
      line-height: 1;
  }
  .ltn__header-options .ltn__drop-menu > ul {
    display: flex;
      align-items: center;
  }
  .ltn__product-details-menu-2 ul li:nth-child(2) {
      margin-right: 0;
  }

  .shop-details-info .ltn__product-details-menu-2 .btn {
      width: 185px;
  }
  .ltn__product-details-menu-2 .shopify-payment-button__button {
      min-width: 330px;
  }
  .product-tile--tile-actions a {
      color: var(--white);
      padding: 7px 10px;
  }
  #quickViewModal .modal-body {
    display: block;
  }
  #quickViewModal {
      padding: 0 !important;
  }
  .quickview-btn-cart .btn {
      padding: 12px 30px;
  }
  #quickViewModal .modal-dialog {
    margin: 50px auto;
  }
  .ltn__banner-style-3 .ltn__banner-info {
      left: 15px;
  }
  .ltn__banner-style-3.ltn__banner-style-4 .ltn__banner-info {
      right: 15px;
  }
  .slide-item-info-inner {
      text-align: center;
  }
}